<form class="pure-form" action="/submitquiz" method="post">
    <li><%= @question_text %></li>
    <label for="option" class="pure-radio"><%= @option_text %></label>
    <input id="option" type="radio" name="option">
    <br>
</form>
