<div class="profile">
  <img src="<%= @student.picture %>" width="200" height="200">
  <h3>Welcome, <%= @student.name %></h3>
  <h4>List of Assessments</h4>
  <%= erb :"partials/_assessment"%>
</div>
